.footer-container {
    position: fixed;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: transparent;
    margin-bottom: 50px;
    z-index: 10;
    padding-left: 40px;
}

.footer-links {
    display: flex;
    justify-content: flex-start;
    // height: 100px;
}

.footer-li-1 img{
    background: image-url('github.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    position: center;
    margin-right: 30px;
    cursor: pointer;
}

.footer-li-2 {
    background: image-url('linkedin.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    position: center;
    margin-right: 30px;
    cursor: pointer;
}

.footer-li-3 {
    background: image-url('angellist.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 28px;
    position: center;
    margin-right: 30px;
    cursor: pointer;
}

// .footer-li-4 {
//     color: #008489;
//     margin-right: 30px;
//     font-size: 14px;
//     cursor: pointer;
//     font-weight: 600;
//     background: image-url('chair-on-beach.jpg');
// }

.footer-li-1:hover, .footer-li-2:hover, .footer-li-3:hover {
    height: 60px;
    border-bottom: 3px solid #008489;
}
