.footer-container {
    position: relative;
    display: flex;
    bottom: 75px;
    width: 90%;
    background-color: transparent;
    z-index: 10;
    padding-left: 40px;
}
 
.footer-links {
    display: flex;
    justify-content: flex-start;
    height: 75px;
}

.footer-li-1 {
    height: 40px;
    width: 40px;
    position: center;
    margin-right: 30px;
    cursor: pointer;
}

.footer-li-2 {
    height: 40px;
    width: 40px;
    position: center;
    margin-right: 30px;
    cursor: pointer;
}

.footer-li-3 {
    height: 40px;
    width: 28px;
    position: center;
    margin-right: 30px;
    cursor: pointer;
}

.footer-li-1 img {
    width: 100%;
    border-radius: 4px;
}

.footer-li-2 img {
    width: 100%;
    border-radius: 4px;
}

.footer-li-3 img {
    width: 100%;
    border-radius: 4px;
}

// .footer-li-4 {
//     color: #008489;
//     margin-right: 30px;
//     font-size: 14px;
//     cursor: pointer;
//     font-weight: 600;
//     background: image-url('chair-on-beach.jpg');
// }

.footer-li-1:hover, .footer-li-2:hover, .footer-li-3:hover {
    height: 72px;
    border-radius: 1px;
    border-bottom: 3px solid #008489;
}
