
.form-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #FFFFFF;
  width: 500px;
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 32px 40px;
  overflow: visible;
  font-size: 14px;
  color: #484848;
  line-height: 1.43;
  z-index: 1;
}

.form {
  display: block;
  background-color: transparent;
  width: 100%;
}

.form-input {
  display: flex;
  justify-content: center;
  align-content:space-between;;
  border-radius: 6px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  color: #484848;
  font-size: 16px;
  line-height: 18px;
  height: 25px;
  width: 95%;
  border: 1px solid #D3D3D3;
  padding: 11px;
}

.form-input::placeholder {
  color: #A0A0A0;
}

.form-input:focus {
  outline: none ;
  box-shadow: 0 0 0 1px #008489;
}

.form-input:invalid {
  outline: none;
  box-shadow: 0 0 0 1px #FF5A5F;
}


.form-title {
  display: flex;
  justify-content: center;
  color: #484848;
  font-size: 24px;
  font-weight: 645;
  margin: 0 auto;
}

.form-button {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin-top: 24px;
  margin-bottom: 10px;
  border-radius: 6px;
  background-color: #FF5A5F;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.form-demo-button {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin-top: 24px;
  margin-bottom: 10px;
  border-radius: 6px;
  background-color: #008489;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.form-closing-x {
    display: block;
    position: absolute;
    justify-content: center;
    color: #484848;
    padding-top: 16px;
    font-size: 18px;
    cursor: pointer;
}

.form-or-separator hr {
    border: none;
    border-top: 1px solid #D3D3D3;
    overflow: visible;
    text-align: center;
    margin-top: 14px;
    margin-bottom: -2px;
}

.form-or-separator hr:after {
    content: 'or';
    position: relative;
    top: -11px;
    background: #FFFFFF;
    color: #767676;
    padding-right: 15px;
    padding-left: 15px;
}


.form-change-container {
  display: flex;
  flex-direction: wrap;
  font-size: 16px;
}

.form-change-btn {
  display: flex;
  width: 20%;
  height: 20px;
  background-color: transparent;
  text-align: left;
  color: #008489;
  font-size: 16px;
  font-weight: bold;
  padding-left: 4px;
  cursor: pointer;
}


.form-errors {
  color: #FF5A5F;
}

#form-icon-login {
  color: #767676;
  display: block;
  position: absolute;
  left: 528px;
  margin: -31px;
  z-index: 10;
}

#form-icon-signup {
  color: #767676;
  display: block;
  position: absolute;
  left: 528px;
  margin: -31px;
  z-index: 10;
}

.birthday {
  font-size: 16px;
  font-weight: 500;
}

.birthday-selector {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bday-day {
  margin: 0 25px 0 25px;

}

select {
  border-radius: 6px;
  color: #484848;
  font-size: 16px;
  height: 45px;
  border: 1px solid #D3D3D3;
}

select:focus {
    outline: none;
    box-shadow: 0 0 0 1px #008489;
}

select:invalid {
    outline: none;    
    box-shadow: 0 0 0 1px #FF5A5F;
}

.month-selector {
  width: 170px;
}

.day-selector {
  width: 100px;
}

.year-selector {
  width: 170px;
}

