
.form-container {
  display: flex;
  width: 30%;
  height: 100%;
  flex-direction: column;
  border-top: 1px solid lightgray;
  overflow: visible;
  margin: 10px 0;
}

.form-input {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  width: 50%;
  border: 1px solid lightgray;
  padding-left: 10px;
}

.form-button {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #FF5A5F;
  text-align: center;
  color: white;
  font-weight: 500;
  cursor: pointer;

}

.error-messages {
    color: #FC642D;
    margin-top: 10px;
}