// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//----------------ListingIndex

.listings-index-container {
    color: #222222;
    min-width: 500px;
}

.listings-index-header {
    font-size: 22px;
    font-weight: 500;
    padding-top: 110px;
    margin-left: 40px;
}

.listings-index-subheader {
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
    margin-left: 40px;
}

.listings-ul {
    height: auto;
    min-width: 720px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 32px 40px 150px 40px;
}

.listing-li {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    min-width: 320px;
    height: 306px;
    font-size: 14px;
    font-weight: 300;
    justify-content: flex-start;
    padding: 20px 0 20px 0;
}

.listing-info {
    width: 100%;
}

.listing-address {
    width: 100%; 
    justify-content: flex-start;
    margin-top: 16px;
}

.listing-name {    
    width: 100%;
    justify-content: flex-start;
    font-size: 16px;
    padding-top: 8px;
}

.listing-price {
    width: 100%;
    justify-content: flex-start;
    padding-top: 5px;
}

.listing-address span {
    color: #767676; 
}

.listing-price span {
    font-weight: 600;
}

.listing-image {
    width: 100%;
    max-width: 300px;
    border-radius: 4px;
    justify-content: center;
}

.listing-image img{
    width: 100%;
    min-height: 200px;
    max-width: 300px;
    border-radius: 4px;
}

//----------------ListingShow Top

.show-images-container {
    padding-top: 80px;
}

.show-image-main-container {
    display: flex;
    width: 50%;
    transition: all .5s;
    background-position: center;
    background-color: transparent;
    overflow: hidden;
    border: 1px solid red;
}

.show-image-sub-container {
    display: flex;
    width: 50%;
    transition: all .5s;
    background-position: center;
    background-color: transparent;
    overflow: hidden;
    border: 1px solid blue;
}

.show-image-2 {
    content: image-url('show_image4.jpeg');
    width: 100px;
}

.show-image-3 {
    content: image-url('show_image4.jpg');
    width: 100px;
}

.show-image-4 {
    content: image-url('show_image4.jpg');
    width: 100px;
}

.show-image-5 {
    content: image-url('show_image3jpg');
    width: 100px;
}

.show-image-main:hover,
.show-image-2-container:hover,
.show-image-3-container:hover,
.show-image-4-container:hover,
.show-image-5-container:hover,
.show-image-6-container:hover {
    transform: scale(1.1);
    overflow: hidden;
}


//----------------ListingShow Bottom

.show-container {
    padding-top: 50px;
    color: #767676;
    justify-content: flex-start;
}

.show-left-side {
    border: solid 1px green;
}

.show-name {
    font-size: 16px;
}

.show-price {
    width: 100%;
    justify-content: flex-start;
    padding-top: 5px;
}

.show-price span {
    font-weight: 600;
}

.show-address {
    width: 100%; 
    justify-content: flex-start;
    margin-top: 16px;
}


.show-address span {
    color: #767676;
}

.show-description {
    width: 100%; 
    justify-content: flex-start;
    margin-top: 16px;
}

.show-hr-below-address {
    border-top: 1px solid rgb(235, 235, 235);
    height: 0px;
    border-left: none;
    margin: 30px 0 40px 0;
}

.show-calendar-container {
    border: solid 1px red;
}

.show-availability-div {
    border: solid 1px orange;
}

.show-booking-box {
    border: solid 1px blue;
}

.show-form-container {
    border: solid 1px black;
}


.show-box-booking-btn {
    border: solid 1px pink;
}

.show-box-bottom-text {
    margin-top: 13px;
    text-align: center;
    padding-bottom: 100px;
}

.show-box-hr {
    border-top: 1px solid rgb(235, 235, 235);
    height: 0px;
    border-left: none;
    margin: 25px 0 15px 0;
}