// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//----------------ListingIndex

.listings-index-container {
    color: #222222;
    min-width: 500px;
}

.listings-index-ph-title {
    font-size: 22px;
    font-weight: 500;
    padding: 110px 80px 14px;
}

.listings-index-ph {
    font-size: 22px;
    font-weight: 500;

    img {
    max-width: 90%;
    min-width: 1280px;
    position: relative;
    padding: 0 70px;
    }
}

.listings-index-header {
    font-size: 22px;
    font-weight: 500;
    padding: 40px 80px 0;
}

.listings-index-subheader {
    font-size: 14px;
    font-weight: 300;
    padding: 5px 80px 0;
}

.listings-ul {
    height: auto;
    min-width: 720px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 24px 80px 150px;
}

.listing-li {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    min-width: 320px;
    height: 306px;
    font-size: 14px;
    font-weight: 300;
    justify-content: flex-start;
    padding: 20px 0 20px 0;
}

.listing-info {
    width: 100%;
}

.listing-address {
    width: 100%;
    max-width: 299px;
    margin-top: 16px;

    .listing-rating {
        justify-content: flex-end;
        color: #000000;
        float: right;
        img {
            width: 12px; 
            margin-right: 4px;
            margin-bottom: -1px;
        }
    }
}

.listing-name {    
    width: 100%;
    justify-content: flex-start;
    font-size: 16px;
    padding-top: 8px;
}

.listing-price {
    width: 100%;
    justify-content: flex-start;
    padding-top: 5px;
}

.listing-address span {
    color: #767676; 
}

.listing-price span {
    font-weight: 600;
}

.listing-image {
    width: 100%;
    max-width: 300px;
    border-radius: 4px;
    justify-content: center;
}

.listing-image img{
    width: 100%;
    min-height: 200px;
    max-width: 300px;
    border-radius: 4px;
}

//----------------Show Page Top


.show-images-container {
    display: grid;
    padding-top: 81px;
    max-height: 600px;
    min-width: 1280px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

.show-images-container:hover div {
    filter: brightness(.7);
}

.show-image-main {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    overflow: hidden;
    height: 598px;
    border: 1px solid #484848;
    img {
    width: 100%;
    height: 100%;
    transition: all .5s;
    }
}

.image-1 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

.image-2 {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
}

.image-3 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.image-4 {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}

.image-1, 
.image-2,  
.image-3, 
.image-4 {
    overflow: hidden;
    border: 1px solid #484848;
    img {
        width: 100%;
        height: 100%;
        transition: all .5s;
    }
}

.show-image-main img:hover,
.image-1 img:hover, 
.image-2 img:hover, 
.image-3 img:hover, 
.image-4 img:hover {
    transform: scale(1.1);
    overflow: hidden;
    filter: brightness(1.3) !important;
}

//----------------Show Reviews

.show-review-title {
    padding-top: 20px;
    font-size: 24px;
    font-weight: 600;
}

.show-review-title-ratings {
    display: inline-flex;
    justify-content: flex-end;
    padding: 20px 0 15px;
    span {
        font-size: 18px;
        font-weight: 700;
    }
    p {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1px;
    }
    img {
        width: 12px; 
        margin-right: 2px;
        margin-bottom: -1px;
    }
    .ratings-num span {
        padding-right: 15px;
        height: 12px;
    }
    .reviews-separator {
        border-right: 1px solid #D3D3D3;
        margin-top: 5px;
        height: 12px;
    }
    .reviews-num span {
        padding: 0 8px 0 15px;
    }
}  

.show-review-ratings-chart {
    width: 100%;
    border-top: 1px solid #D3D3D3;
    padding-top: 10px;
    img {
        width: 100%
    }
}

.review-ul {
    font-weight: 300;
    line-height: 24px;
}


.review-info {
    padding-top: 20px;
}

.review-profile {
    display: inline-flex;
    img {
        padding-right: 15px;
        width: 48px;
        height: 48px;
    }
}

.review-author p {
    font-weight: 600;
}

.review-date span {
    font-size: 14px;
    margin-top: -3px;
}

.review-body {
    padding-top: 10px;
}

.show-review-each {
    border-bottom: 1px solid #D3D3D3;
    padding-bottom: 20px;
}

//----------------Show Page Left

.show-container {
    display: grid;
    grid-template-columns: auto 620px 460px auto;
    grid-template-rows: auto;
    min-width: 1280px;
    border-top: 1px solid #484848;
    color: #484848;
    padding-top: 20px;
    justify-items: center;
    column-gap: 50px;
}

.show-left-side {
  grid-column-start: 2;
  width: 620px;

    .show-name {
    font-size: 32px;
    font-weight: 600;

    }
    .show-address {
    width: 100%; 
    justify-content: flex-start;
    padding: 6px 0 20px;
    border-bottom: 1px solid #D3D3D3;
        span {
        font-weight: 300;
        }
    }
    .show-price {
    width: 100%;
    justify-content: flex-start;
    padding-top: 5px;
        span {
        font-weight: 600;
        }
    }
    .show-description {
    width: 100%; 
    padding: 20px 0;
    border-bottom: 1px solid #D3D3D3;
        p {
            font-weight: 600;
            margin-bottom: 20px;
        }
        span {
            font-weight: 300;
            line-height: 24px;
        }
    }
}


//----------------Show Page Calendar


.show-availability-div {
    border-bottom: 1px solid #D3D3D3;
    padding-top: 20px;
    span {
        font-weight: 600;
    }
    p {
        font-weight: 300;
        padding: 20px 0;
    }
}

//----------------Show Page Left

.show-right-side {
  grid-column-start: 3;
  width: 100%;
  padding-top: 10px;

    .show-booking-box {
        width: 400px;
        padding: 24px;
        border: solid 1px #D3D3D3;
    }
    .show-price-container {
        font-size: 13px;
        font-weight: 500;
        padding-bottom: 20px;
        border-bottom: 1px solid #D3D3D3;
        span {
            font-size: 22px;
            font-weight: 600;
        }
        .show-price-rating {
        justify-content: flex-end;
        margin-top: 6px;
        font-size: 12px;
            img {
                width: 12px; 
                margin-right: 2px;
                margin-bottom: -1px;
                }
        }  
        .show-price-reviews {
        color: #767676;
        font-size: 13px;
        font-weight: 400;
        padding-left: 2px;
        }
    }


//----------------Show Form

    .show-form {
        .show-form-container {
            padding-top: 20px;
        }
        .show-form-label {
            font-size: 12px;
            font-weight: 500;
        }
        .show-form-dropdown { 
            select {
                width: 100%;
                color: #767676;
                font-size: 16px;
                background-color: #ffffff;
                border-radius: 4px;
            }
            select:focus {
                box-shadow: 0 0 0 1px #669ff9;
                outline: 5px auto -webkit-focus-ring-color;
            }
        }
        .show-form-btn {
            width: 100%;
            height: 50px;
            margin-top: 24px;
            margin-bottom: 10px;
            border-radius: 6px;
            background-color: #FF5A5F;
            text-align: center;
            color: #ffffff;
            font-size: 16px;
            font-weight: bold;
        }
    }
    .show-form-bottom {            
        font-size: 12px;
        font-weight: 500;
        text-align: center;
    }

}

//----------------Bottom

.show-bottom-google {
    border-bottom: 1px solid #D3D3D3;
    height: 500px;
    padding-top: 60px;

    span {
        font-size: 24px;
        font-weight: 600;
        line-height: 24px;
    }

    p {
        padding: 20px 0;
    }
}

.show-top-content {
    width: 100%; 
    padding: 20px 0 30px;
    border-bottom: 1px solid #D3D3D3;

    .bottom-separator {
        border-top: 1px solid #D3D3D3;
        margin-top: 5px;
        height: 12px;
    }

    .top-content-title {
        padding-bottom: 20px;

        span {
            font-weight: 600;
            line-height: 24px;
        }
    }
    .top-content-info {
        width: 130px;
        height: 100px;
        border: 1px solid #D3D3D3;
        border-radius: 4px;
        padding: 28px;

        span {
            padding-top: 20px;
            display: flex;
            font-weight: 500;
            line-height: 24px;
        }

        p {
            font-weight: 300;
        }
    }
}


.show-bottom-content {
    border-bottom: 1px solid #D3D3D3;
    padding: 60px 0 120px;

    .bottom-content-title {
        padding-bottom: 20px;

        span {
            font-size: 24px;
            font-weight: 600;
            line-height: 24px;
        }
    }

    .bottom-content-info {
        border-bottom: 1px solid #D3D3D3;
        padding-bottom: 20px;

        span {
            font-weight: 600;
            line-height: 24px;
        }
        
        p {
            display: inline-flex;
            font-weight: 300;
        }  
    }
    .bottom-rules {
        border-bottom: 1px solid #D3D3D3;
        padding: 20px 0;

        span {
            font-weight: 600;
            line-height: 24px;
        }
        img {
            margin-top: 20px;
            display: flex;
            width: 80%;
        }
    }
    .bottom-cancellation {
        border-bottom: 1px solid #D3D3D3;
        padding: 20px 0;

        span {
            font-weight: 600;
            line-height: 24px;
        }

        p {
            padding: 20px 0; 
            font-weight: 300;
        }
    }

}

