// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.listings-index-container {
    color: #222222;
    min-width: 500px;
}

.listings-index-header {
    font-size: 22px;
    font-weight: 500;
    padding-top: 110px;
    margin-left: 40px;
}

.listings-index-subheader {
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
    margin-left: 40px;
}

.listings-ul {
    height: auto;
    min-width: 720px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 32px 0 150px 40px;
}

.listing-li {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    min-width: 320px;
    height: 306px;
    font-size: 14px;
    font-weight: 300;
    justify-content: flex-start;
    padding: 20px 0 20px 0;
}

.listing-info {
    width: 100%;
}

.listing-address {
    width: 100%; 
    justify-content: flex-start;
    margin-top: 16px;
}

.listing-name {    
    width: 100%;
    justify-content: flex-start;
    font-size: 16px;
    padding-top: 8px;
}

.listing-price {
    width: 100%;
    justify-content: flex-start;
    padding-top: 5px;
}

.listing-address span {
    color: #767676; 
}

// .listing-name span {

// }

.listing-price span {
    font-weight: 600;
}

.listing-image {
    width: 100%;
    max-width: 300px;
    border-radius: 4px;
    justify-content: center;
}

.listing-image img{
    width: 100%;
    min-height: 200px;
    max-width: 300px;
    border-radius: 4px;
}

// .listing-image:hover {
   
// }

