
.modal-background {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  text-align:center;
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-closing-x {
  height: 25px;
  width: 25px;
  color: #000000;;
  vertical-align: middle;
  line-height: 40px;
  cursor: pointer;
}

.modal-content-fit {
  background-color:white;
  display: inline-block;
    padding:30px;
    margin: 0px auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    text-align: center;
    max-height: 85vh;
    overflow-y:scroll;
}