
.search-body {
    padding: 100px;
    margin: 0;
}

.nav-search-container {
    border-bottom: 1px solid black;
    background-color: blue;
}

.listings-search-container {
    margin: 100px 20px 200px;
}

.listings-search-results-leftside {

    .header-number {

    }

}
