
.splash-main {
    background: image-url('chair-on-beach.png');
    background-size: cover;
    position: relative;
    height: 100vh;
}

.splash-placeholder {
    content: image-url('splash_placeholder.png');
    position: relative;
    top: 150px;
    left: 100px;
    height: 50%;
    width: 23%;
}
