.splash-main {
    width: 100%;
}

.splash-main img {
    min-height: 970px; ;
    width: 100vw;
    position: top;
    object-fit: cover;
    vertical-align: top;
}

.splash-header {
    position: absolute;
    display: flex;
    width: 100%;
    background-color: transparent;
    z-index: 10;
}

.splash-header-home {
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    color: #ffffff;
    font-size: 10px;
    margin-left: 25px;
    margin-top: 25px;
}