.CalendarDay__default:hover {
  background: #CCEEEB !important;
  color: #008489 !important;
} 

.CalendarDay__selected:hover {
  background: #EDF6F6 !important;
  color: #008489 !important;
}

.CalendarDay__selected,
.CalendarDay__selected_span {
  background: #008489 !important;
  color: #FFFFFF !important;
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: #CCEEEB;
  color: #FFFFFF;;
} 

.CalendarDay {
    font-weight: 600;
    border: 2px solid #FFFFFF;
    border-radius: 7px;
} 

.DateInput_input {
    font-size: 16px;
    font-weight: 300;
}

.DateRangePicker,
.DateRangePickerInput {
  border-radius: 4px;
  display: block;
}

.DateInput_input__selected {
    background-color: #CCEEEB;
}
 
.DateInput_input__focused {
    background: #99EDE7;
}

.DateRangePickerInput_arrow_svg {
    padding-left: 40px;
}

.DayPicker_weekHeaders {
    font-weight: 300;
}
